@function  grid-columns($amount) {
  @return percentage(1 / $amount);
}

.container {
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  border: 2px solid red;
}

.container-item-1,
.container-item-4 {
  background-color: blue;
}

.container-item-2,
.container-item-5 {
  background-color: green;
}

.container-item-3,
.container-item-6 {
  background-color: yellow;
}

.container-item-7,
.container-item-8 {
  grid-column-end: span 3;
  background-color: red;
}


