@function  grid-columns($amount) {
  @return percentage(1 / $amount);
}

.container {
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  border: 2px solid red;
}

.container-item-1,
.container-item-4 {
  background-color: blue;

}

.container-item-2,
.container-item-5 {
  background-color: green;
}

.container-item-3,
.container-item-6 {
  background-color: yellow;
}

.container-item-7,
.container-item-8 {
  grid-column-end: span 3;
  background-color: red;
}


//The IE 10/11 Try
//https://medium.com/@elad/supporting-css-grid-in-internet-explorer-b38669e75d66

.site {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "header header" "title sidebar" "main sidebar" "footer footer";

  * {
    padding: 3rem;
    font-size: 2rem;
  }
  .mastheader {
    grid-area: header;
    background-color: red;
  }

  .page-title {
    grid-area: title;
    background-color: blue;
  }

  .main-content {
    grid-area: main;
    background-color: green;
  }

  .sidebar {
    grid-area: sidebar;
    background-color: yellow;
  }
  .footer {
    grid-area: footer;
    background-color: orange;
  }
}


